.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        margin: 0;
    }

    img{
        margin-top: 50px;
    }
}   

.titleForm{
    color: #45213e;
    font-size: 20px;
    font-weight: 500;
    max-width: 25ch;
    overflow: hidden;
    text-align: center;
}

.subForm{
    color: #979797;
    max-width: 40ch;
    overflow: hidden;
    text-align: center;
}

.yourName, .yourEmail{
    width: 303px;
    height: 33px;

    margin: 10px 0 5px 0;

    outline: none;
    color: #979797;
    font-weight: bold;

    opacity: 60%;
    border: 2px solid #979797;
    border-radius: 5px;
    box-shadow: 1px 3px 2px rgba(0,0,0,0.2);
}

.cadastrarBtn{
    padding: 15px 85px;
    margin-top: 5px;
    display: inline-block;

    background: #5e2d54;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;

    border-radius: 8px;
    outline: none;
    cursor: pointer;

    &:active{
        transform: scale(0.98); 
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    }
}

